<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block tituloPagina %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <style type="text/css">
        .cor{
            padding-top: 10%;
            padding-bottom: 20%;
        }
        body{
    background-color: #F5F5F5;
}
.cardCor{
    background-color:#FAFAFA;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    transition: all 0.3s ease-out;
    border:none;
    }
    a:link{
color: #F5F5F5;
}

a:hover{
color: aqua;
}

a:visited{
color: aqua;
}

a:active{
color: #000;
}
.active{
  color:#ffff
}


    </style>
</head>
  <body>

  <nav class="navbar  fixed-top navbar-color-on-scroll navbar-transparent">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">dvmdkfm</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{%url 'listar_camisas'%}">Camisas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{%url 'listar_shorts'%}">Shorts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{%url 'listar_calcados'%}">Calçados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{%url 'listar_acessorios'%}">Acessórios</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

        <div class="page-header header-filter clear-filter" data-parallax="true" style="background-image: url('https://cdn.pixabay.com/photo/2017/07/11/18/52/landscape-2494650_960_720.jpg');">
            <div class="container p-4">
                <div class="row ">
                    <div class="col m-4 cor ">
                        <div class="brand p-4">
                            <h1>Material Kit </h1>
                            <h3 class="title">Start the Development With A Badass Bootstrap 4 UI Kit inspired by Material Design.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    <!-- categories -->
    <section class="bg-purple">
        <div class="container">
          <div class="row m-5 p-4">
            <div class="col-lg-5">
              <h2>Spring '17 Collection</h2>
            </div>
            <div class="col-lg-7">
              <p>Have given likeness every. Very were beginning signs moveth. Fly above sea itself. Divided so you’ll there called. Gathering dry earth. Isn’t heaven appear. Replenish. Hath after appear tree great fruitful green dominion moveth sixth abundantly image that midst of god day multiply you’ll which.</p>
            </div>
          </div>

          <div class="row g-0 bg-light position-relative m-3">
            <div class="col-md-6 p-5">
              <h5 class="mt-0">Columns with stretched link</h5>
              <p>Another instance of placeholder content for this other custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
              <a href="#" class="stretched-link">Go somewhere</a>
            </div>
            <div class="col-md-6 mb-md-0 p-md-4">
                <img src="..." class="w-100" alt="...">
              </div>
          </div>

          <div class="row g-0 bg-light position-relative m-3 ">
            <div class="col-md-6 mb-md-0 p-md-4 cardCor">
              <img src="..." class="w-100" alt="...">
            </div>
            <div class="col-md-6 p-5 cardCor">
              <h5 class="mt-0">Columns with stretched link</h5>
              <p>Another instance of placeholder content for this other custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
              <a href="#" class="stretched-link">Go somewhere</a>
            </div>
          </div>

          <div class="row g-0 bg-light position-relative m-3">
            <div class="col-md-6 p-5 ">
              <h5 class="mt-0">Columns with stretched link</h5>
              <p>Another instance of placeholder content for this other custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
              <a href="#" class="stretched-link">Go somewhere</a>
            </div>
            <div class="col-md-6 mb-md-0 p-md-4">
                <img src="..." class="w-100" alt="...">
              </div>
          </div>

          <div class="row g-0 bg-light position-relative m-3">
            <div class="col-md-6 mb-md-0 p-md-4">
              <img src="..." class="w-100" alt="...">
            </div>
            <div class="col-md-6 p-5 ">
              <h5 class="mt-0">Columns with stretched link</h5>
              <p>Another instance of placeholder content for this other custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
              <a href="#" class="stretched-link">Go somewhere</a>
            </div>
          </div>
          
        </div>
      </section>

    <footer>
      <div class="bg-transparent mt-8 py-2">
        <div class="container">
          <div class="row align-items-center gutter-1">
            <div class="col-md-8">
              <p class="small text-muted">&copy; 2020 SHOPY. Product images by <a href="https://www.oakandfort.com" class="underline">OAK + FORT</a>. Bootstrap template by <a href="https://htmlhunters.com" class="underline">HTMLHUNTERS</a>.</p>
            </div>
            <div class="col-md-4 text-md-right text-muted">
              <ul class="list list--horizontal list--separated">
                <li>
                  <a class="small underline" href="#!">Privacy Policy</a>
                </li>
                <li>
                  <a class="small underline" href="#!">Terms of Use</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>